body{
    background-color: white;
    margin:0px;
    padding: 0px;
}

.top-info{
    position: relative;
    background-color:#333;
    width: 100%;
    height: 170px;
    overflow:hidden;
}
.top-info-image{
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
    border-color: white;
    border-style: solid;
    border-width: 4px;
    top: 30px;
    width: 120px;
    height: 120px;
    
}
.top-info-image img{
    padding-top: 2px;
    padding-left:8px;
}
.top-info-detail{
    position: absolute;
    top: 50px;
    left:140px;
    margin-left: 10px;
    max-width: 340px;
    font-size: 30px;
    color: white;
    font-family: sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top-info-nav-logo{
    position: absolute;
    right:0px;
    top:0px;
    display: block;
    /*margin-right: 4px;*/
    height: auto;
    width: 600px;
}
.gknav{
  position: relative;
  right: 0px;
  float:right;
  padding-top:12px;
}
.gknav a:link {
  text-decoration: none;
  padding:20px;
  color:white;
}

.gknav a:visited{
  text-decoration: none;
  padding:20px;
  color:white;
}
.gknav a:hover{
  text-decoration: none;
  padding:20px;
  background-color: #35a2db; 
}

.top-info-logo{
    text-align: center;
    font-size:60px;
    color:white;
}
.top-info-logo p{
    margin-left: 50%;
    margin-top: 90px;
}

.navbar {
  position: absolute;
    width: 40px;
    height: 40px;
    font-size: 30px;
    overflow: hidden;
    background-color: #ddd;
    font-family: Arial;
    transition: .5s ease;
  }
  .navbar:hover{
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: .5s ease;
  }
  /* Links inside the navbar */
  .navbar a {
    z-index: -1px;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    padding-right: 220px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #35a2db;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show
  the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropbtn{
    width: 250px;
    text-align: left;
  }
  
  .gap1{
      height: 0px;
  }
  .gap2{
      height: 50px;
  }

  iframe{
      position: absolute;
      height: 100%;
      margin: 0px;
      width: 100%;
      z-index: -1;
      border-style: none;
  }

  .hanbergur{
    margin: 4px;
    height: 30px;
    width: 30px;
    position: absolute;

  }
  #tt{
    position: absolute;
    bottom:0px;
    padding-left:60px;
  }
  
  