body a:link,a:active,a:visited{
    top:1%;
    position: relative;
    color:black;
}

 
 .bg-modal{
     width:100%;
     height:100%;
     background-color:rgba(0,0,0,0.4);
     
     display:none;
    justify-content: center;
    align-items:center;
     position:absolute;
     top:0;
    
     
 }
 .model-content{
     width:40%;
     height:85%;
     background-color:#ffffff;
     opacity: 1;
    text-align: center;
    padding: 0px 10px;
    align-items:center;
     position:absolute;
     
 }
 
 #close{
     position: absolute;
     right: 10px;
     font-size: 20px;
     font-weight: 300;
     color: black;
 }

#loading{
    width: 50px;
    height: 50px;
    border:5px solid #ccc;
    border-top-color: #ff6a00;
    border-radius: 100%;
    position: fixed;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    margin:auto;
    animation: round 2s linear infinite;
}
@keyframes round{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}